body {
    background: rgb(44,43,62);
    background: linear-gradient(90deg, rgba(44,43,62,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.card{
    margin-top: 85px;
    border-radius: 10px;
}